.formContainer{
  width: 650px;
  height: 590px;
  background-color: #FAFAFA;
  padding: 40px;

  font-size: 24px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
}

.formContainer div{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.formContainer div label{
  width: 100%;
}

.formContainer label{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formContainer input{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
}

.formContainer textarea{
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  resize: none;
}

.formContainer button{
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #FF9200;
  margin-top: 40px;
}