.actionButton{
  background-color: #FF9200;
  color: white;

  width: clamp(10rem, 50vw, 20rem);
  font-size: 1rem;
  font-weight: 600;
  font-family: Roboto, 'sans-serif';

  padding: 0.875rem;

  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.actionButton:hover{
  color:#FF9200;
  background-color: white;

  transition: 300ms;
}


@media (min-width:1080px){
  .actionButton{
    background-color: #FF9200;
    color: white;
  
    width: 384px;
    font-size: 36px;
    font-weight: 600;
  
    padding: 16px 0;
  
    border-radius: 16px;
    border: none;
    cursor: pointer;
  }
}