@media (min-width: 797px) {
  .contentTitle{
    display: flex;
    align-items: center;
    gap: min(0.5rem, 1rem);
  }
}

@media (max-width: 796px) {
.contentTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(0.5rem, 1rem);
}
}