.bgImg{
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -5;
}

.main section{
  width: 100vw;
}

.homeSection {
  width: 100%;
  height: 100vh;
  padding: 0 clamp(3rem, 10%, 20rem);
  color: white;
  background: linear-gradient(129deg, rgba(32,32,32,1) 0%, rgba(32,32,32,0) 100%);
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;
}

.homeSection > h1 {
  font-size: 1.5rem;
}

.homeSection > h1 > span{
  color: #FF9200;
}

.homeSection > ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 0 8rem 0;
  padding-left: 2rem;
  font-weight: 100;
}

.homeSection > ul li{
  font-size: 1rem;
}

.aboutSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10rem clamp(3rem, 10%, 20rem);
  gap: clamp(4rem, 10vw, 15rem);

  position: relative;
}

.aboutImg{
  position: relative;
  object-fit:cover;
  overflow: hidden;

  border-radius: 1rem;
}

.aboutImgContainer{
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 400px;
}

.aboutDescContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutDescContainer > p{
  font-size: 0.875rem;
  font-weight: 300;
  text-align: justify;
}

.courseSection{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #202020;

  position: relative;
}

.courseSection > h1{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5rem;
  text-align: center;
}

.contactSection{
  display: flex;
  flex-direction: column;
  padding: 10rem clamp(3rem, 10%, 20rem);
  gap: 64px;
  justify-content: center;
  align-items: flex-start;
}

.contactSectionContainer{
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contactImg{
  position: relative;
  object-fit:cover;
  overflow: hidden;

  border-radius: 1rem;
}

.contactImgContainer{
  position: relative;
  width: 100%;
  max-width: 450px;
  height: clamp(450px, 30vw, 500px);
}


.contactSectionContainer > h1{
  margin-top: 8px;
  font-size: 1.250rem;
  text-align: center;
}

.socialList{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.socialList > li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 12px;
  border: 1px solid #1e1e1e;

  border-radius: 9999px;
}

.socialList > li:hover{
 background-color: #1e1e1e;
 color: #FFF;
 cursor: pointer;
 transition: 300ms;
}

.iconItem {
  width: 24px;
  height: 24px;
}

.main > footer{
  height: 2.5rem;
  background-color: #202020;
  color: white;
  align-content: center;
  text-align: center;
}

@media (min-width: 1080px) {
  
  .aboutSection{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .aboutSection > div{
    width: clamp(15rem, 50vw, 30rem);
    padding: 0.5rem 0;
  }

  .contactSection{
    display: flex;
    flex-direction: row;
  }
  
  /* .contactSection{
    display: flex;
    justify-content: space-between;
    padding: 100px 120px;
  } */
  
  /* .contactSection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  } */
  
  /* .contactSection div h1{
    width: 60%;
    font-size: 32px;
    text-align: center;
  } */
  
  /* .main footer{
    height: 48px;
    background-color: #202020;
    color: white;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  } */
}