.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem clamp(3rem, 10%, 8rem);
  font-size: 1rem;

  position: fixed;
  top: 0;

  background-color: rgba(0,0,0, 30%);
}

.header h1{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.contentTitle{
  display: flex;
  align-items: center;
  gap: min(0.5rem, 1rem);
}

.navBar{
  display: flex;
  gap: 60px;
  align-items: center;
}

.navBar a {
  color: white;
  text-decoration: none;
}

.navBar a:hover{
  color: #FF9200;
  transition: 300ms;
}

.loginIcon{
color: #000;
}

.loginIcon:hover{
  color: #FF9200;
  transition: 300ms;
}