.navBar a {
  color: white;
  text-decoration: none;
}

@media (max-width: 796px){
  .navBar{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    position:absolute;
    top: 64px;
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;

    background-color: #1e1e1e;
  }
}


@media (min-width: 796px){
  .navBar{
    display: flex;
    gap: 60px;
    align-items: center;
  }
  
  .navBar a:hover{
    color: #FF9200;
    transition: 300ms;
  }
}