.courseCardContainer > h1{
  font-size: 1rem;
  position: relative;
  top: -15%;
  text-align: center;
}

.courseCardImg{
  width: clamp(10rem, 20vw, 15rem);
  height: clamp(25rem, 20vw, 30rem);
  object-fit: cover;
  overflow: hidden;

  border-radius: 0.5rem;
}